###################################################################################################
#### The following file deletes the usually unused, but loaded, log4j.jar file from AWS EB Tomcat 
#### machines.
#### 
#### While log4j is not used by Tomcat itself, it is still there in the EB image, and is loaded 
#### by the JVM. This should not be enough to make it vulnerable to CVE-2021-44228, but still better
#### to remove an unused library anyway.
####
#### This will not prevent your installed webapplications from having log4j-impl as a dependency 
#### and using it, this will only remove the shared installation of log4j from the tomcat lib.
####
#### Author: Simone Gianni 
###################################################################################################

commands:
  "01":
    command: rm -f /usr/share/java/log4j.jar
  "02":
    command: rm -f /usr/share/tomcat/lib/log4j.jar
